<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
      <div class="users-index-item">
        <div class="user-right">
          <% @users.each do |user| %>
          <%= link_to(user.name, "/users/#{user.id}")%>
        </div>
      </div>
    <% end %>
  </div>
</div>
