<div class="about-main">
  <h2>ほめほめとは</h2>
  <p>
    タスクを達成するとスマイリーが褒めてくれるアプリです。<br>
    褒めた分だけ褒めレベルが上がります。<br>
    ほめほめは「TODOリスト」「毎日達成したことメモ」としてご利用いただけます。
  </p>
  <div class="top-img">
    <%= image_tag "about.png" %>
  </div>
</div>
